
{% extends '_layout.html' %}
<!--Includes son posibles porque tienes el extends-->
<!--pero no puedes extender a otra pagina la recursion -->
<!-- Includes deben estar dentro de un Block -->

{% load static %}

{% block import %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block title %} Inicio {% endblock %}

<!-------------------------------------------------------------------->
{% block content %}

<div class="e30"></div>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-1"></div>
        
        <div class="col-md-10 col-12">

            {% include 'components_moneytrack/indicators.html' %}

            <div class="e30"></div>

            {% include 'components_moneytrack/mainform.html' %}

            <div class="e30"></div>

            {% include 'components_moneytrack/mainrender.html' %}

        </div>
        
        <div class="col-md-1"></div>


    </div>
</div> 

{% endblock %}
<!-------------------------------------------------------------------->


<script src="{% static 'scripts/index.js' %}"> </script>
{% block importscript %}

<script>


</script>


{% endblock %}
