{% extends '_layout.html' %}
{% load static %}
{% block title %}Project{% endblock %}
{% block content %}

<main role="main">
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-9 mx-auto">
                <div>
                    <p>[username]: {{request.user.username}}</p>
                    <p>[email]: {{request.user.email}}</p>
                    <h3> Crea un nuevo Proyecto: </h3>
                    <div class="e20"></div>

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br>
                        <input type="submit" class="btn btn-primary btn-block"
                               value="Crear proyecto" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
