
<section>
  <div class="container">
    <div class="row">


        <table class="rounded table table-striped table-light">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Opcion</th>
                </tr>
            </thead>

            <tbody>

              {% for registro in registroslistx %}

                <tr>
                    <td>{{registro.id}}</td>
                    <td class="text-center">{{registro.quantity}}</td>
                    <td class="text-center">{{registro.concept}}</td>
                    <td class="text-center">{{registro.category}}</td>
                    <td class="text-center">{{registro.created_at}}</td>
                    <td><a href="{% url 'clearformreg' idx=registro.id %}">Eliminar</a></td>
                </tr>

              {% endfor %}
            </tbody>
          </table>



    </div> <!--- end row --->
  </div>
</section>
