<style media="screen">

    @media (max-width:640px) {
        th,td

    {
        font-size: 9px;
        padding: 7px !important;
    }

    .thcharname {
        width: 10px
    }

    }

    @media (min-width: 641px) and (max-width:830px) {
        th, td {
            font-size: 9px;
            padding: 7px;
            !important;
        }

        .thcharname {
            width: 10px
        }
    }

    @media (min-width:831px) and (max-width:950px) {
        th, td {
            font-size: 18px
        }
    }

    @media (min-width:951px) and (max-width:1228px) {
        th, td {
            font-size: 18px
        }
    }

    @media (min-width:1229px) and (max-width:1399px) {
        th, td {
            font-size: 18px
        }
    }

    .btn {
        margin-top: -5px
    }

    .input30 {
        width: 90px
    }

  .input20{width:100px}
  .input30{width:200px}
  .btn{margin-top:-5px;}
 


</style>


<section>
    <div class="container">
        <div class="row">

            <form class="formoney" action="{%url 'saveformoneyreg'%}" method="POST">
                {% csrf_token %}
                <input class="input20" name="newreg_quantity" placeholder="Cantidad: "> </input>
                <input class="input30" name="newreg_concept" placeholder="Concepto: "> </input>

                <select style="width:200px" name="newreg_categoryselect">
                    {% for val in categoryx %}
                    <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-outline-info btn-sm" type="submit" name="button">Agregar</button>
            </form>
        </div> <!---end row-->

        <div class="e30"></div>

        <div class="row">
            <span> {{pruebasx}}</span>
        </div> <!---end row-->
    </div>
</section>
