
{% extends '_layout.html' %}
<!--Includes son posibles porque tienes el extends-->
<!--pero no puedes extender a otra pagina la recursion -->
<!-- Includes deben estar dentro de un Block -->

{% load static %}

{% block import %}

{% endblock %}

{% block title %} Inicio {% endblock %}

<!-------------------------------------------------------------------->
{% block content %}



{% endblock %}
<!-------------------------------------------------------------------->


{% block importscript %}

<script>

</script>


{% endblock %}
