<style media="screen">

    @media (max-width:640px) {
        th,td {font-size: 9px; padding: 6px !important;}
    }

    @media (min-width: 641px) and (max-width:830px) {
        th, td {font-size: 9px; padding: 7px!important;}
    }

    @media (min-width:831px) and (max-width:950px) {
        th, td {font-size: 18px}
    }

    @media (min-width:951px) and (max-width:1228px) {
        th, td {font-size: 18px}
    }

    @media (min-width:1229px) and (max-width:1399px) {
        th, td {font-size: 18px}
    }


  .element30{width:180px; height:31px; margin-bottom:10px; margin-top:10px}
  .container_inputform{width:180px;}
  .container_butform{width:120px;}
  .btn{width:120px}
  .catselector {height:31px}
  .center{margin-left:auto; margin-right:auto}
  .formcontainer{ background-color: white; border: 2px solid #D4D8DB;}
  .header_form{height:50px;background-color:#6CB8F6; color:white; margin: 0 -15px 0 -15px; }
  .header_form_title{padding-top:6px}

</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10 col-12">

          <form class="formoney" action="{%url 'saveformoneyreg'%}" method="POST">
              {% csrf_token %}

          <div class="container-fluid rounded ">

            <div class="rounded-top text-center header_form ">
              <h3 class="header_form_title">Agrega un nuevo item:</h3>
            </div>

            <div class="row formcontainer">

                  <div class="col-xl-2"></div>

                  <div class="col-12 col-xl-2">
                    <div class="centradox container_inputform">
                        <input class= "element30" name="newreg_quantity" placeholder="Cantidad: "> </input>
                    </div>

                  </div>

                  <div class="col-12 col-xl-2">
                    <div class="centradox centradoy container_inputform">
                        <input class="center element30" name="newreg_concept" placeholder="Concepto: "> </input>
                    </div>
                  </div>

                  <div class="col-12 col-xl-2">
                    <div class="centradox container_inputform">
                        <select class="center itemsupform element30" name="newreg_categoryselect">
                            {% for val in categoryx %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="col-12 col-xl-2">
                    <div class="centradox container_butform">
                       <button class="btn btn-outline-info btn-sm element30" type="submit" name="button">Agregar</button>
                    </div>
                  </div>

                  <div class="col-xl-2"></div>



              </div>
            </div>

          </form>

        </div> <!--- end contenido central -->

        <div class="col-md-1"></div>
    </div>
</div>
