{% load static %}

<style media="screen">

  @media (max-width:640px) {
    .item_img_height{height:200px}
    #banner_subject{height:auto}
    .rolview {height: 180px;}
    #buttonhomegetproy{margin-top:30px}
  }

  @media (min-width: 640px) and (max-width:830px) {
    .item_img_height{height:300px}
    #banner_subject{height:auto}
    #buttonhomegetproy{margin-top:30px}
  }

  @media (min-width:831px) and (max-width:950px) {
    .item_img_height{height:300px}
    #banner_subject{height:auto}
    .rolview {height: 120px;}
    #buttonhomegetproy{margin-top:30px}
  }

  @media (min-width:951px) and (max-width:1228px) {
    .item_img_height{height:300px}
    #banner_subject{height:auto}
    .rolview {height: 80px;}
    #buttonhomegetproy{margin-top:0px}
  }

  @media (min-width:1229px) and (max-width:1399px) {
    .item_img_height{height:300px}
    #banner_subject{height:auto}
    .rolview {height: 80px;}
    #buttonhomegetproy{margin-top:0px}
  }

  @media (min-width:1400px) {
    .item_img_height{height:300px}
    #banner_subject{height:auto}
    .rolview {height: 80px;}
    #buttonhomegetproy{margin-top:0px}
  }

  .item_topbanner{background-color:#6CB8F6; height:50px}
  .item_font_topbanner{color:white; padding-top:3px}
  .item_container{
    border: 2px solid #D4D8DB;
    background-color:white;
    color:black;}

  #banner_subject{background-color: #4B89AD;}
  #text_content{margin-top:20px; width:250px; color:white}
  .foto{width:180px; height:180px; background-color:white; background-size:cover;}
  .mainfoto {background-image: url(" {% static '/mainimg.jpg' %}")}

  .type_project{font-size:20px; font-family: 'Roboto';}
  .item_img{margin-left:auto; margin-right:auto; background-size:cover;}
  .rolview{margin-top:20px; }
  .rolview_item_img{height:90px; padding: 0 10 0 10 ;}

  .minibox{ height:50px; width:70px;  margin-top:10px; background-size:cover; border: 2px solid gray}
  .img1{background-image: url("{{projectx.image1.url}}");}
  .img2{background-image:url("{{projectx.image2.url}}");}
  .img3{background-image: url("{{projectx.image3.url}}");}
  .img4{background-image: url("{{projectx.image4.url}}");}
  .img5{background-image: url("{{projectx.image5.url}}");}

  #textsection{}
  #txtsec_encabezado{background-color:#6CB8F6; height:50px; color: white}
  #txtsec_contenido{border: 2px solid gray; background-color:white}
  .txtsec_encabezado_titulo{padding-top:10px}
  .box_titulo{padding: 10 20 0 20}

  @font-face {
    font-family: gman;
    src: url({% static 'fonts/Roboto-Bolditalic.ttf' %} );
  }

  @font-face {
    font-family: gman2;
    src: url({% static 'fonts/Roboto-Light.ttf' %} );
  }

  .navbuttons{width:200px}



  </style>

<script type="text/javascript">

  $(document).ready(function(){
    console.log("jquery cargado");

    //$("#caja").css("background","green");
    //var mainimg = $('#mainimg')

    $('#img1').click(function(){
      $('#mainimg').addClass('img1');
      $('#mainimg').removeClass('img2');
      $('#mainimg').removeClass('img3');
      $('#mainimg').removeClass('img4');
      $('#mainimg').removeClass('img5')
    });

    $('#img2').click(function(){
      $('#mainimg').addClass('img2');
      $('#mainimg').removeClass('img1');
      $('#mainimg').removeClass('img3');
      $('#mainimg').removeClass('img4');
      $('#mainimg').removeClass('img5')
    });

    $('#img3').click(function(){
      $('#mainimg').addClass('img3');
      $('#mainimg').removeClass('img1');
      $('#mainimg').removeClass('img2');
      $('#mainimg').removeClass('img4');
      $('#mainimg').removeClass('img5')
    });

    $('#img4').click(function(){
      $('#mainimg').addClass('img4');
      $('#mainimg').removeClass('img1');
      $('#mainimg').removeClass('img2');
      $('#mainimg').removeClass('img3');
      $('#mainimg').removeClass('img5');
    });

    $('#img5').click(function(){
      $('#mainimg').addClass('img5');
      $('#mainimg').removeClass('img1');
      $('#mainimg').removeClass('img2');
      $('#mainimg').removeClass('img3');
      $('#mainimg').removeClass('img4')
    });


  });
</script>

<div class="container-fluid">
  <div class="row">
    <div id="banner_subject" class="col-12 col-xl-3">

      <div class="e50"></div>

      <div class=" centradox mainfoto foto rounded-circle"></div>

      <div id="text_content" class=" centradox ">
          <div class="text-center text_gman_20"> Gustavo Ledesma Iracheta </div>
          <div class="text-center text_roboto_15"> Ingeniero de proyectos en Auvit International </div>
          <div class="text-center text_roboto_15">
              Intereses: Automatizacion, Control de procesos,
              Innovacion, Electronica, Desarrollo de software.
          </div>
      </div>

      <div class="e50"></div>
    </div> <!--- end baner subject -->


    <div class="col-12 col-xl-9">
      <div class="container">
        <div class="e30"></div>

        <div class="row">

          <div class="col-md-6 col-12 ">

              <div id="mainimg" class="rounded img1 item_img item_img_height"></div>

              <div class="rolview">
                <div class="container-fluid">

                    <div class="row">

                      {%if projectx.image1.url != "/media/null" %}
                        <div class="centradox  rolview_item_img">
                            <div id="img1" class="img1 minibox"></div>
                        </div>
                      {% endif %}

                      {%if projectx.image2.url != "/media/null" %}
                        <div class="centradox  rolview_item_img">
                            <div id="img2" class="img2 minibox"></div>
                        </div>
                      {% endif %}

                      {%if projectx.image3.url != "/media/null" %}
                        <div class="centradox  rolview_item_img">
                            <div id="img3" class="img3 minibox"></div>
                        </div>
                      {% endif %}

                      {%if projectx.image4.url != "/media/null" %}
                      <div class="centradox  rolview_item_img">
                          <div id="img4" class="img4 minibox"></div>
                      </div>
                      {% endif %}

                      {%if projectx.image5.url != "/media/null" %}
                      <div class="centradox  rolview_item_img">
                          <div id="img5" class="img5 minibox"></div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
              </div> <!---end rolview ---->

          </div> <!---end parte de la foto--->

          <div id="txtsec" class="col-md-6 col-12">

            <div id="txtsec_encabezado" class="rounded-top">
              <div class="txtsec_encabezado_titulo container-fluid">
                <div class="row">
                    <h4 class="col-12 text-center">{{projectx.category}}</h4>
                </div>

              </div>
            </div>

            <div id="txtsec_contenido" class="container-fluid titulos_box">
              <div class="box_titulo text_gman_20 text-center">{{projectx.title}}</div>
              <div class="e20"></div>
              <div class="box_description text_gman_15 text-center">{{projectx.description}}</div>
              <div class="e20"></div>
              <div class="box_details">{{projectx.details}}</div>
              <div class="e20"></div>
            </div>

          </div>



        </div> <!--end Mainrow--->
        <div id="navegacioninferior" class="row">

              <div class="col-12 centradox">
                <div class="centradox navbuttons">

                <a href="/gman/getproject/{{projectx.prev}}">
                  <button id="buttonhomegetproy" class="btn btn-outline-info btn-md" type="submit" name="button">Prev</button>
                </a>

                <a href="/gman">
                  <button id="buttonhomegetproy" class="btn btn-outline-info btn-md" type="submit" name="button">Home</button>
                </a>

                <a href="/gman/getproject/{{projectx.next}}">
                  <button id="buttonhomegetproy" class="btn btn-outline-info btn-md" type="submit" name="button">Next</button>
                </a>

                </div>
              </div>

        </div>
      </div>
    </div>

  </div> <!---end main row ---->
</div> <!---end main container fluid ---->
