
{% extends '_layout.html' %}
<!--Includes son posibles porque tienes el extends-->
<!--pero no puedes extender a otra pagina la recursion -->
<!-- Includes deben estar dentro de un Block -->

{% load static %}

{% block import %}

{% endblock %}

{% block title %} Inicio {% endblock %}

<!-------------------------------------------------------------------->
{% block content %}

<style media="screen">
  .index_page{background-color:#EAEFF1}
</style>

<div class="index_page">

  <div class="e63"></div>

  <div class="e30"></div>

  {% include 'components_moneytrack/horizontal_form.html' %}

  <div class="e30"></div>

  {% include 'components_moneytrack/indicators.html' %}

  <div class="e30"></div>

  {% include 'components_moneytrack/registros_all.html' %}

  <div class="e30"></div>

  <div class="e30"></div>


</div>


{% endblock %}
<!-------------------------------------------------------------------->


{% block importscript %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="{% static 'gmanscripts.js' %}" type="text/javascript"></script>

{% endblock %}
